﻿@model IEnumerable<StateManagementDemo.Models.Inimene>

@{
    ViewBag.Title = "ListInimene";
}

<h2>ListInimene</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
        <td>
            @Html.DisplayNameFor(x => x.Id)
        </td>
        <td>
            @Html.DisplayNameFor(x => x.Nimi)
        </td>
        <td>
            @Html.DisplayNameFor(x => x.Vanus)
        </td>
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(x => item.Id)
        </td>
        <td>
            @Html.DisplayFor(x => item.Nimi)
        </td>
        <td>
            @Html.DisplayFor(x => item.Vanus)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
