﻿@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>

<p>
    @{
        int xApp = int.Parse(System.Web.HttpContext.Current.Application["number"].ToString());
        System.Web.HttpContext.Current.Application["number"] = xApp + 1;
        <span>App-number: @xApp.ToString()</span>

        int xSess = int.Parse(System.Web.HttpContext.Current.Session["number"].ToString());
        System.Web.HttpContext.Current.Session["number"] = xSess + 1;
        <span>Sess-number: @xSess.ToString()</span>

        int xTemp = int.Parse(TempData["number"]?.ToString() ?? "0");
        TempData["number"] = xTemp + 1;
        <span>Temp-number: @xTemp.ToString()</span>
<p>Application started at: @System.Web.HttpContext.Current.Application["started"].ToString()</p>
<p>Session     started at: @System.Web.HttpContext.Current.Session["started"].ToString()</p>
<p />
@*<p>ViewBag.Test: @ViewBag.Test</p>
<p>ViewBag.Number: @(ViewBag.Number*4)</p>*@
<p>ViewData.Test: @(ViewData["Test"]?.ToString()??"")</p>
<p>ViewData.Number: @(int.Parse(ViewData["Number"]?.ToString()??"0")*7)</p>


    }
</p>
