﻿@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>

<p>
    @{
        int xApp = int.Parse(System.Web.HttpContext.Current.Application["number"].ToString());
        System.Web.HttpContext.Current.Application["number"] = xApp + 1;
        <span>App-number: @xApp.ToString()</span>

        int xSess = int.Parse(System.Web.HttpContext.Current.Session["number"].ToString());
        System.Web.HttpContext.Current.Session["number"] = xSess + 1;
        <span>Sess-number: @xSess.ToString()</span>

        int xTemp = int.Parse(TempData["number"]?.ToString() ?? "0");
        TempData["number"] = xTemp + 1;
        <span>Temp-number: @xTemp.ToString()</span>
    }
</p>
